/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

a {
    padding: 0px 40px;
    text-decoration: none;
}


/* icons */

.fa {
    padding: 0;
    width: 50px;
    height: 50px;
    display: inline-flex !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa::before {
    font-size: 24px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    color: white;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.fa-whatsapp {
    color: #fff;
    background:
        linear-gradient(#25d366, #25d366)10px 84%/10px 15px no-repeat,
        radial-gradient(#25d366 60%, transparent 0);
}

/* hero */
#showcase {
    background-image: url("../images/1107999.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    padding: 60px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#showcase .button {

    font-size: 18px;
    text-decoration: none;
    color: #E8E8E8;
    border: #E8E8E8 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
}

#showcase .button:hover {
    background-color: #202020;
}

/* navigatie */
nav {
    position: absolute;
    width: calc(100% - 40px);
    max-width: 1200px;
    margin: auto;
    top: 20px;
    bottom: auto;
    left: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

/* social */
.social-menu {
    position: relative;
    width: calc(100% - 40px);
    max-width: 1200px;
    margin: auto;
    top:auto;
    right: 20px;
    bottom: 0px;
    left: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding:40px 0px 0px 0px;
    
}

/* Bottom page */
#section-c{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0px 0px 0px;
   
    
}
.box-1 h1{
    display: flex;
    font-size: 90px;
    font-weight: 600;
    background:  linear-gradient(to right, #29323c,  #485563);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-content: center;
}

.box-1 p{
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    text-align: center;

}

.box-2{
    flex: 1;
    display: flex;
    justify-content: center;
    height: 50vh;
   

}

.carousel-slider{
    margin-top:1%;
    border-radius: 35px;
    min-height: 50vh;
    height: 100%;
    margin-bottom: 5%;
}

@media screen and (max-width: 1024px) {
.box-1 h1{
    font-size: 30px;
    }

    .box-1 p{
        font-size:15px;
    }
    .carousel-slider{
        min-height: 10vh;
        width: 70%;
        height: 100%;
    }
    nav {
        justify-content: center;
        text-align: center;
    }

    nav>*:not(:last-child) {
        padding-bottom: 30px;
    }
}

nav h1 {
    color: #E8E8E8;
    font-weight: 600;
    font-size: 40px;
}

@media screen and (max-width: 450px) {
    .social-menu{
        padding: 5px 15px 0px 0px;
    }
    
    .box-2{
        height: 30vh;
   
    }
    .carousel-slider{
        min-height: 10vh;
        width: 80%;
        
    }
}